before_install:
  - pip install codecov
after_success:
  - codecov
sudo: false
language: node_js
node_js:
  - "4"
  - "5"
  - "stable"
matrix:
  fast_finish: true
  allow_failures:
    - node_js: "0.13"
